body {
    /* font-family: 'Cardo', serif;
    font-family: 'Open Sans', sans-serif; */

    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #6c7279;
    background-color: #fff;
    -webkit-font-smoothing: antialiased; /* Сгладить шрифты*/
}

*, 
*:after,
*:before {
    box-sizing: border-box;
}

h1, h2, h3, h4,h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}


/* header
===================*/
.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    transition: background-color .3s linear;
}
.header__logo img {
    cursor: pointer;
}

.header.fixed {
    background-color: #2c304e;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: initial;
}

.header.fixed .header__inner {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
    border-bottom: 1px solid #4f5269;
}

/* nav
===================*/
.nav {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    color: #fff;
    text-decoration: none;
    margin-right: 50px;
    opacity: .5;

    transition: opacity .2s linear;
}

.nav__link:hover {
    opacity: 1;
}

.nav__link:last-child {
    margin-right: 0;
}

/* burger
===================*/

.burger {
    display: none;
    background: none;
    color: transparent;
    border: 0;
    padding: 9px 2px;
    cursor: pointer;
}

.burger:focus {
    outline: none;
}

.burger__item {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #fff;
    font-size: 0;
    color: transparent;
    position: relative;
    border: 0;
    
    
}

.burger__item:before,
.burger__item:after {
    content: '';
    display: block;
    width: 100%;
    height: inherit;
    background-color: inherit;
    position: absolute;
    right: 0;
    z-index: 1;

}

.burger__item:before {
    width: 30px;
    top: -8px;
    transition: width .3s linear;
}

.burger__item:after {
    width: 26px;
    bottom: -8px;
    transition: width .3s linear;
}

.burger.active .burger__item::before,
.burger.active .burger__item::after {
    width: 0;
    border: 2px solid #fff;
    transition: border-width .3s linear;
}

.burger.active .burger__item::after {
    left: 0;
    border: 2px solid #fff;
}



/* intro
===================*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 750px;
    background: #31344e url(../images/intro-bg.jpg) no-repeat center / cover;
    position: relative;
    padding-top: 100px;
}

.intro__inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}

.intro__title {
    text-transform: uppercase;
    color: #fff;
    font: 700 65px/1.1 'Open Sans', sans-serif;
    margin-bottom: 30px;
}

.intro__subtitle {
    font: 400 22px/1.5 'Raleway', sans-serif;
    margin-bottom: 75px;
}

/* btn
===================*/

.btn {
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    font: 600 13px/1.6 'Open Sans' ,sans-serif;
    color: #fff;
    text-decoration: none;
    padding: 16px 48px;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    transition: background-color .2s linear;
    text-align: center;
}

.btn--red {
    background-color: #e84545;
}

.btn--long {
    min-width: 280px;
}

.btn:hover {
    background-color: #cc1b1b;
}

/* features
===================*/

.features {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0;
}

.features__item {
    flex-basis: calc(100% / 3);
    margin: 25px 0;
    text-align: center;
    padding: 0 40px;
}

.features__image {
    display: inline-block;
    max-width: 100%;
    height: auto;
    margin-bottom: 25px;
}

.features__title {
    font: 700 14px/1.2 'Raleway', sans-serif;
    color: #2D3033;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.features__text {
    font: 400 14px/1.5 'Raleway', sans-serif;
    color: #6C7279;
}

/* works */

.works {
    display: flex;
    flex-direction: column;
}

.works__col {
    display: flex;
    flex-wrap: wrap;
}

.works__item {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff; 

    width: 25%;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.works__item:last-child {
    border-right: 0;
}

.works__image {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
}

.works__content {
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgba(213, 66, 65, .7);

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2 ;
    transform: translate3d(0, -50%, 0);
    transition: opacity .3s linear;
}

.works__title {
    font: 700 14px/1.2 'Raleway', sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.works__text {
    font: 400 14px/1.2 'Raleway', sans-serif;
}

.works__item:hover .works__content {
    opacity: 1;
}

/* team */

.team {
    margin: 100px 0 70px;
}

.team__inner {
    display: flex;
    flex-wrap: wrap;
}

.team__item {
    flex-basis: 25%;
    margin-bottom: 30px;
    padding: 0 15px;
}

.team__item:last-child {
    margin-right: 0;
}

.team__photo {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.team__name {
    font: 400 22px/1.2 'Raleway', sans-serif;
    margin-bottom: 10px;
    color: #2D3033;
}

.team__position {
    font: 400 13px/1.2 'Raleway', sans-serif;
    margin-bottom: 25px;
    color: #E84545;
    text-transform: uppercase;
}

.team__text {
    font: 400 14px/1.5 'Raleway', sans-serif;
    margin-bottom: 35px;
    color: #6C7279;
}

.team__link {
    text-decoration: none;
}

.social {
    display: flex;
}

.social__link {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: 1px solid #E8ECEE;
    margin-right: 4px;
    background-color: #fff;

    transition: background-color .3s linear, color .3s linear;
}

.social__link:hover {
    background-color: #a8bac4;
    color: #000;
}

.social__link:hover .social__icon {
    fill: #000;
}

.social__link:last-child {
    margin-right: 0;
}

.social__icon {
    display: block;
    height: 18px;
    fill: #C6CACC;
    transition: fill .3s linear;
}

/* reviws
===================*/

.reviews {
    background-color: #53354A;
    overflow: hidden;
}

.reviews__item {
    display: flex;
    flex-wrap: wrap
}

.reviews__slider {
    height: 500px;
    overflow: hidden;
}

.reviews__slider.slick-initialized.slick-slider {
    height: initial !important;
}


.reviews__photo {
    width: 50%;
    height: 500px;
    position: relative;
}

.reviews__image {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
}

.reviews__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    width: 50%;
    padding-left: 80px;
}

.reviews__text {
    font: italic 400 36px/1.16 'Cardo', serif;
    margin-bottom: 40px;
}

.reviews__author {
    font: 700 13px/1.616 'Raleway', sans-serif;
}

.reviews .slick-dots {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    width: 50%;
    bottom: 10px;
    right: 0;
    justify-content: center;
}

.reviews .slick-dots li > button {
    font-size: 0;
    background: rgba(255, 255, 255, .5);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 0;
    padding: 0;
    font-size: 0;
    color: transparent;
    margin-right: 10px;
    cursor: pointer;
}

.reviews .slick-dots li > button:focus {
    outline: none;
}

.reviews .slick-dots li.slick-active button {
    background-color: #fff;
}

/* download
===================*/

.download {
    margin: 90px 0;
    text-align: center;
    color: #2D3033;
}

.download__title {
    font: 300 28px/1.2 'Raleway', sans-serif;
    margin-bottom: 15px;

}

.download__text {
    font: 700 13px/1.5 'Raleway', sans-serif;
    margin-bottom: 30px;

}

/* footer */

.footer {
    padding: 70px 0;
    background-color: #3A3E64;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer__col {
    flex-basis: 33%;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
}

.footer__title {
    text-transform: uppercase;
    color: #fff;
    font: 700 14px/1.2 'Raleway', sans-serif;
    margin-bottom: 20px;
}

.footer__address,
.footer__text {
    font-style: normal;
    color: rgba(255, 255, 255, .5);
    font-size: 14px;
    line-height: 1.5;
}

/* social--footer */

.social__link--radius {
    border-radius: 2px;
    background-color: transparent;
    border: 2px solid #fff;
}

.social__link--radius:hover {
    background-color: #ffffff;
    fill: #000;
}

.social__link--radius:hover .social__icon {
    fill: #000;
} 

/* media
===================*/

@media (max-width: 1300px) {
    .works__item {
        flex-basis: 50%;
    }

    .works__col .works__item:nth-of-type(even) {
        border-right: 0;
    }
}

@media (max-width: 991px) {
    /* nav */
    .nav {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: right;
        position: absolute;
        right: 0;
        top: 100%;
        background-color: #232946;
    }

    .nav.active {
        display: flex;
    }

    .nav__link {
        padding: 10px 15px;
        margin-right: initial;
    }

    .burger {
        display: block;
    }

    /* intro */

    .intro__title {
        font-size: 40px;
    }

    /* works */
    .works__item {
        flex-basis: 100%;
    }

    /* team */

    .team {
        margin: 60px 0 30px;
    }

    .team__item {
        text-align: center;
        flex-basis: 50%;
    }

    .social {
        justify-content: center;
    }

    /* reviews */

    .reviews__photo,
    .reviews__content {
        width: 100%;
    }

    .reviews__photo {
        overflow: hidden;
        margin: 15px 0 40px;
    }

    .reviews__content{
        padding-left: 0;
        padding-bottom: 40px;
    }

}

@media (max-width: 767px) {
    /* intro */

    .intro {
        min-height: auto;
        padding: 120px 0 30px 0;
    }

    .intro__title {
        font-size: 30px;
    }

    .intro__subtitle {
        font-size: 16px;
        margin-bottom: 30px;
    }

    /* features */

    .features {
        margin: 40px 0;
    }

    .features__item {
        flex-basis: 100%;
        padding: 0;
    }

     /* works */

     .works__item {
         border-right: none;
     }

     .works__item:last-child {
         border-bottom: none;
     }

     /* team */
     .team__item {
        flex-basis: 100%;
    }

    /* reviews */
    .reviews__text {
        font-size: 25px;
    }


    /* download */
    .download {
        margin: 50px 0;
    }

    .download__title {
        font-size: 24px;
    }
    /* btn */

    .btn--long {
        min-width: 260px;
    }

    /* footer */

    .footer__col {
        flex-basis: 100%;
        margin-bottom: 30px;
        padding: 0;
    }

    .footer__col:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 414px) {
    .reviews__image {
        right: -100px;
    }
}